.wrapper {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    flex-direction: row;
}

.entry {
    background-color: #e8e8e8;
    height: 175px;
    max-width: 250px;
    min-width: 150px;
    margin: 5px;
    padding: 20px;
    font-size: 20pt;
    line-height: 50px;
    border: 1px solid;
}

.votes {
    background-color: #e8e8e8;
    height: 175px;
    width: 202px;
    margin: 5px;
    padding: 0px 20px 40px;
    font-size: 13pt;
    line-height: 17px;
    border: 1px solid;
}

button {
    font-size: 14pt;
}

progress {
    display: inline-block;
	width: 190px;
	height: 25px;
	margin: 0;
	background: none;
	border: 0;
	border-radius: 15px;
    position: relative;
}

label {
    font-size: 17pt;
}

p.votes {
    display: inline;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15pt;
}

hr {
    border: 0;
}